.blog-categories{
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    width: 100%;
    margin: 25px 0px 40px;
}
.category{
    border: 2px solid #ff895bef;
    display: inline-block;
    padding: 10px 40px;
    margin: 5px 20px;
    border-radius: 23px;
    transition: 01s;
    cursor: pointer;
    font-size: 18px;
    font-weight: 550;
    color: rgb(34, 34, 34);

}
.category:hover{
    background-color: #ff895b69;
    box-shadow: 2px white;
    font-weight: bold;
    color: black;
    
}