.img-couverture{
    width: 400px;
    height: 300px;
    border-radius: 0px 19px 5px 0 ;
    margin-left: 40px;
  
}
.couverture{
    display: flex;
    flex-direction: row;
    
    margin: 100px 0 60px ;
    border-radius: 0px;
    background-color: transparent;
    
}
.texte-gras{
   font-size: 40px;
   font-weight:bold;
   line-height: 47px;

}
.texte-normal{
    margin-top: 40px;
    text-align: center;font-size: 25px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
}
.texte{
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 9px;
    
    
}
.btn-telecharger{
    width: 300px;
    margin-top: 35px;
    padding: 12px 0px;
    background-color: #ff895b;
    border: 2px solid #ff895b;
    border-radius:30px ;
    font-size: 18px;
    font-weight: 700;
    color:white ;
    cursor:pointer;
    display: flex;
    flex-wrap: wrap;

    justify-self: center;
    font-family: "HK CompaktHK";
    box-shadow: 0 1px 6px 0 #20212447;
    transition: 0.5s;
    justify-content: center;
}
.btn-telecharger:hover{
    box-shadow: none;
    transform: scale(0.98);
}
.slider{
    margin-left:10px;
    height: 30px;
    text-align: left;
    overflow: hidden;
   
}
.slider p{
    line-height: 30px;
    text-decoration: underline #ff895b;
    font-weight: bold;
    font-size: 30px;
    
    

}
.slider p:first-child{
    animation: anim 20s infinite;
    
}

@keyframes anim {
    10%{
        margin-top: 0;
    }
    20%{
        margin-top: -30px;
    }  
    30%{
        margin-top: -60px;
    }  
    40%{
        margin-top: -90px;
    }  
    50%{
        margin-top: -120px;
    }  
    60%{
        margin-top: -120px;
    }  
    70%{
        margin-top: -90px;
    }  
    80%{
        margin-top: -60px;
    }  
    90%{
        margin-top: -30px;
    }
    100%{
        margin-top: 0px;
    }
}