.img-couverture{
    width: 320px;
    bottom: 0;
    border-radius: 0px 19px 5px 0 ;
    margin:30px 0 0 50px;
  
}
.image-fond{
    background-image: url('../assets/cover-background.jpg');
    height: 100%;
    width: all;
    background-position: center;
    background-size: cover;
    z-index: 1;
    filter: blur(4px) grayscale(0.1) ;
}
.couverture{
    display: flex;
    flex-direction: row;
   /* background-image: url('../assets/cover-background.jpg');
  background-size: cover;
    backdrop-filter: blur(0px) grayscale(0.5) opacity(0.8);*/
    padding: 150px 0 70px ;
    border-radius: 0px;
    background-color: transparent;
    z-index: 2;
    
}
.texte-gras{
   font-size: 40px;
   font-weight:bold;
   line-height: 47px;

}
.texte-normal{
    margin-top: 40px;
    text-align: left;font-size: 25px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}
.texte{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
   
    
    
}
.btn-telecharger{
    width: 300px;
    margin-top: 45px;
    padding: 12px 0px;
    background-color: #ff895b;
    border: 2px solid #ff895b;
    border-radius:30px ;
    font-size: 18px;
    font-weight: 700;
    color:white ;
    cursor:pointer;
    display: flex;
    flex-wrap: wrap;

    justify-self: center;
    font-family: "HK CompaktHK";
    box-shadow: 0 1px 6px 0 #20212447;
    transition: 0.5s;
    justify-content: center;
}
.btn-telecharger:hover{
    box-shadow: none;
    transform: scale(0.98);
}
.slider{
    margin:20px 0 0 0;
    height: 30px;
    text-align: left;
    overflow: hidden;
   
   
}
.slider p{
    line-height: 30px;
    text-decoration: underline #ff895b;
    font-weight: bold;
    font-size: 30px;
    
    

}
.slider p:first-child{
    animation: anim 20s infinite;
    
}

@keyframes anim {
    10%{
        margin-top: 0;
    }
    20%{
        margin-top: -30px;
    }  
    30%{
        margin-top: -60px;
    }  
    40%{
        margin-top: -90px;
    }  
    50%{
        margin-top: -120px;
    }  
    60%{
        margin-top: -120px;
    }  
    70%{
        margin-top: -90px;
    }  
    80%{
        margin-top: -60px;
    }  
    90%{
        margin-top: -30px;
    }
    100%{
        margin-top: 0px;
    }
}