*{
    margin: 0;
    font-family: "Inter",sans-serif;
}
button{
    font-family: "Inter",sans-serif;
}

.title-text{
    font-size: 1.5em;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.title{
    background-color: #ff895bef;
    padding: 15px 15px;
    top: 0;
    margin-bottom: 100px;
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 15; 
    
    
   
}
a{
    text-decoration: none;
    color: white;
}

.title-text:hover{
    color: yellow;
}
.nav-links ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.navbar{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar li{
    margin: 0px 30px;
    top: 20px;
    margin-top: 20px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar a:hover{
    color: yellow;
    border-bottom: 3px solid yellow;
}
.active{
    color: yellow;
    border-bottom: 3px solid yellow;
}
.btn-application{
    margin-right: 50px;
    padding: 15px 30px;
    background-color: white;
    border: 2px solid white;
    border-radius:7px ;
    font-size: 17px;
    font-weight: 700;
    color:#ff895b ;
    cursor:pointer;
    font-family: "HK CompaktHK";
    box-shadow: 0 1px 6px 0 #20212447;
    transition: 0.5s;
    
}
.btn-application:hover{
    transform: scale(0.97);
    box-shadow: none;


}